{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Welcome{% endblock %}
{% block pagecss %}<link rel="stylesheet" href="{% static "css/landingstyle.css" %}">{% endblock %}

{% block content %}
<section id="splash">
  <a href="/"><img id="logo" src="{% static "img/logo_circle.png" %}" class="img-responive"></a>
  <div class="header">
    <h1>Seek your fortune.</h1>
    <p>Leave the collection plate at home. Buskr lets you get paid without the need for spare change.</p> 
    <a href="/profile/" role="button" class="btn btn-lg btn-default">Register now</a>
  </div>
</section>
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <h1>Bring your own</h1>
      <h2><span id="bringyourown">(Audience)</span></h1>
    </div>
  </div>
</section>
<section class="blank">
  <div class="container">
    <div class="row">
      <h1>How does it work?</h1>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <img src="{% static "img/walkthrough-register.png" %}" class="img-circle img-responsive">
        <p><a href="/profile/"><strong>Register</strong></a> with Buskr by telling us a bit about yourself.</p>
      </div>
      <div class="col-sm-4">
        <img src="{% static "img/walkthrough-share.png" %}" class="img-circle img-responsive">
        <p><a href="/share/1"><strong>Share</strong></a> your new profile page.</p>
      </div>
      <div class="col-sm-4">
        <img src="{% static "img/walkthrough-display.png" %}" class="img-circle img-responsive">
        <p><a href="http://www.youtube.com/watch?v=GNZBSZD16cY"><strong>Do</strong></a> what you do best!</p>
      </div>
    </div>
  </div>
</section>
<hr />
<section id="last-chance">
  <div class="container">
    <div class="row">
      <h1>Ready to try Buskr?</h1>
      <a href="/profile/"><img src="{% static "img/logo_circle.png" %}" class="img-responive"></a>
    </div>
  </div>
</section>
<section class="blank">
  <div class="row">
    <p class="lead">Buskr was developed with &lt;3 at the first ever <a href="https://2014.battlehack.org/toronto">Toronto BattleHack</a> by team Gryphon.</p>
    <p>Team Gryphon is Bakz Awan, Oliver Cook, and Ryan Wilson-Perkin</p>
  </div>
</section>
<script>
	function ani(){
            document.getElementById("blured_image").className = 'unblured'
    }

	var texts = ["(Guitar)", "(Mic)", "(One man marching band)", "(Robot Outfit)", "(Instrument)", "(Talent)"];
	var count = 0;
	function changeText() {
	    $("#bringyourown").text(texts[count]);
	    count < 3 ? count++ : count = 0;
	}
	setInterval(changeText, 1000);
</script>
{% endblock %}
