{% extends "base.html" %}

{% load staticfiles %}

{% block pagecss %}<link rel="stylesheet" href="{% static "css/thankyou.css" %}">{% endblock %}

{% block title %}Thank You For Your Donataion!{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div id="thanks">
      <h1>THANK YOU</h1>
    </div>
  </div>
  <a href="/"><img id="buskr_logo" src="{% static "img/logo_circle.png" %}" class="img-responive"></a>
  <a href="https://developer.paypal.com/"><img id="paypal_logo" src="{% static "img/paypal.png" %}" class="img-responsive"></a>
</div>
{% endblock %}
