{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Welcome{% endblock %}
{% block pagecss %}<link rel="stylesheet" href="{% static "css/landingstyle.css" %}">{% endblock %}

{% block content %}
<div id="header" class="container">
	<img src="{% static "img/logo.jpg" %}">
</div>
<div id="background-wrapper">
    <div class="jumbotron">
    	<div class="container">
	    	<h1>Bring your own</h1>
	    	<h1><span id="bringyourown">(Audience)</span></h1>
	    	<h2>Start Collecting Today</h2>
	    	<a href="profile.html"><img src="{% static "img/register.jpg" %}" style="padding-top:10px;"></a>
		</div>
    </div>
</div>
<div id="blured_image">
	 <img src="{% static "img/imagetoblur.jpg" %}">
	    hi <br />
	    hi 

	 <input name="" type="button" value="Change" onclick="ani()" />
</div>
<!-- wtf carousel here -->


<!-- End of carousel -->
<script>
	function ani(){
            document.getElementById("blured_image").className = 'unblured'
    }

	var texts = ["(Guitar)", "(Mic)", "(One man marching band)", "(Robot Outfit)", "(Instrument)", "(Talent)"];
	var count = 0;
	function changeText() {
	    $("#bringyourown").text(texts[count]);
	    count < 3 ? count++ : count = 0;
	}
	setInterval(changeText, 1000);
</script>
{% endblock %}
