{% extends "base.html" %}

{% load staticfiles %}

{% block pagecss %}<link rel="stylesheet" href="{% static "css/sharestyle.css" %}">{% endblock %}

{% block content %}
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Buskr</a>
        </div>

      </div>
    </div>
    <div class="jumbotron">
      <div id="qrcodes" class="container" style="padding-top:20px;">
        <!-- Link goes to direct QR code image URL -->
        <a href="#"><img src="http://placehold.it/450x450" style="float:left; padding-right:20px;"></a>
        <h2>Share the information below to start collecting donations</h2>

        <h3>http://www.buskr.ca/lkdfkm</h3>
        
        <h2 style="padding-top:10px;">Act</h2>
        <p>
            Maecenas vel feugiat ligula. Integer in eros eu lacus lacinia vulputate. Pellentesque ac pulvinar eros. Nam non orci a nulla tempus volutpat. 
            Integer in eros eu lacus lacinia. Maecenas vel feugiat ligula. Pellentesque ac pulvinar eros. Nam non orci a nulla tempus volutpat. 
        </p>
        <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
        <a class="addthis_button_preferred_1"></a>
        <a class="addthis_button_preferred_2"></a>
        <a class="addthis_button_preferred_3"></a>
        <a class="addthis_button_preferred_4"></a>
        <a class="addthis_button_compact"></a>
        <a class="addthis_counter addthis_bubble_style"></a>
        </div>
        <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-538a5f347dc020fc"></script>
        <!-- AddThis Button END -->
      </div>
    </div>
{% endblock %}