{% extends "base.html" %}

{% load staticfiles %}

{% block pagecss %}<link rel="stylesheet" href="{% static "css/sharestyle.css" %}">{% endblock %}

{% block title %}Start collecting your donations{% endblock %}

{% block content %}
<div class="addthis_toolbox addthis_default_style addthis_32x32_style hidden-print">
  <a class="addthis_button_preferred_1"></a>
  <a class="addthis_button_preferred_2"></a>
  <a class="addthis_button_preferred_3"></a>
  <a class="addthis_button_preferred_4"></a>
  <a class="addthis_button_compact"></a>
  <a class="addthis_counter addthis_bubble_style"></a>
</div>
<section id="share-page">
  <div id="qrcodes" class="container">
    <!-- Link goes to direct QR code image URL -->
    <a href="#"><div id="qrcode"></div></a>
    <h3 id="qrtext" class="hidden-print"><a href="//buskr.ca/donate/{{ artist.id }}">http://buskr.ca/donate/{{ artist.id }}</a></h3>
    <h3 class="visible-print">http://buskr.ca/donate/{{ artist.id }}</h3>
  </div>
</section>
<section id="additional-content">
  <h1 class="hidden-print">Share or Print this page to receive donations.</h1>
  <h2>{{ artist.first_name }} {{ artist.last_name }}</h2>
  <p class="lead">{{ artist.description }}</p>
  <hr />
  <p class="lead">{{ artist.thank_you_message }}</p>
</section>
<div id="logo">
<img src="{% static "img/logo_circle.png" %}" class="img-responive">
</div>
  <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-538a5f347dc020fc"></script>
  <script type="text/javascript" src="{% static "js/qrcode.js" %}"></script>
  <script>
    var qrcode = new QRCode(document.getElementById("qrcode"), {
      text: document.getElementById("qrtext").innerText,
      width: 300,
      height: 300,
      colorDark : "#AB4E2C",
      colorLight : "#ffffff",
      correctLevel : QRCode.CorrectLevel.H
    });
  </script>
{% endblock %}
