/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.marketing{
 padding-left:20px;
 padding-right:20px;
}
#about{
	margin: 10px;
	padding: 10px 50px;
	border-top:1px solid #e8e8e8;
	border-bottom:1px solid #e8e8e8;
	background-color:#f7f9b3;
}
/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}
.footer{
	margin-top:20px;
	text-align: right;
}
/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  background-color:#ffffff;
}
.jumbotron .btn {
  padding: 14px 14px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 10px 0 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border:1px solid #e8e8e8;
}
.marketing p + h4 {
  margin-top: 28px;
}
.marketing input{
	width:80%;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
.marketing{
    padding-right: 0px;
    padding-left: 0px;
 }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
