#logo {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 100px;
}
#splash {
  margin-top: -20px;
  background-image: url('../img/banjo_background_filter.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 750px;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px rgba(1, 1, 1, 0.5);
}
#splash h1 {
  font-size: 7em;
  font-weight: 700;
}
#splash p {
  font-size: 2em;
  font-weight: 300;
}
.header {
  max-width: 900px;
  margin: 0 auto;
  padding-top: 150px;
  padding-left: 10px;
  padding-right: 10px;
}
#call-to-action{
  background-color:#AB4E2C;
  border-top:1px solid #8c452a;
  border-bottom:1px solid #8c452a;
  padding-top: 75px;
  padding-bottom: 40px;
  min-height: 300px;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px rgba(1, 1, 1, 0.5);
}
#call-to-action h2 {
  font-weight: 100;
}
.blank .row {
  padding: 50px;
  text-align: center;
}
.blank h1 {
  font-weight: 100;
  font-size: 4em;
}
.blank p {
  margin: 10px;
}
.blank img {
  margin: 0 auto;
}
#last-chance {
  background-color: #428bca;
}
#last-chance h1 {
  font-weight: 100;
  color: white;
}
#last-chance .row {
  padding: 50px;
  text-align: center;
}

 /* 
 =====================
 blurr */

    .blured {
              -webkit-filter: blur(2px);            
        }
        .unblured {
          -webkit-animation-duration: 2s;
          -webkit-animation-name: slidein;
        }
        @-webkit-keyframes slidein {
          from {
              -webkit-filter: blur(10px);
          }
          
          to {
              -webkit-filter: blur(0px);
          }
        }
 /* 
 =====================
 end of blurr */
