/* Move down content because we have a fixed navbar that is 50px tall */

#background-wrapper{
  padding-top: 50px;
  padding-bottom: 20px;
}
.row {
  margin:10px;
}
#header{
	text-align: center;
	padding-top:20px;
}
.jumbotron{
	background-color:#AB4E2C;
	text-align:center;
	border-top:1px solid #8c452a;
	border-bottom:1px solid #8c452a;
}
.jumbotron h2{
	color:#e8e8e8;
}