#thanks {
  margin: 200px auto;
  text-align: center;
}
#thanks h1 {
  font-size: 8em;
}
.battlehack {
  max-width: 500px;
}
.girl {
  left: 0px;
  top: 0px;
  position: absolute;
  z-index: -1;
}
.guy {
  right: 0px;
  top: 0px;
  position: absolute;
  z-index: -1;
}
