body {
  background-image: url('../img/battlehack-guy.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#thanks {
  margin: 200px auto;
  text-align: center;
}
#thanks h1 {
  font-size: 8em;
}
.battlehack {
  max-width: 500px;
}
#paypal_logo {
  position: absolute;
  bottom: 30px;
  left: 30px;
  max-width: 30%;
}
#buskr_logo {
  position: absolute;
  bottom: 30px;
  right: 30px;
  max-width: 30%;
}
